In [41]:
import pandas as pd
import numpy as np

In [42]:
sub = pd.read_csv('submission2.csv')

In [43]:
sub.head()

  Physician_ID  Channel
0     axt00001        0
1     axt00002        0
2     axt00003        0
3     axt00004        0
4     axt00005        0

In [44]:
sub['Channel'].value_counts()

0    8469
1     781
2     750
Name: Channel, dtype: int64

In [13]:
data = pd.read_excel("HCP_Data_KDAG_Hackathon/HCP_Data_KDAG_Hackathon.xlsx")

In [45]:
sub['sales_rep_calls'] = data.groupby('Physician_ID').sum()['Sales_Rep_Calls'].values
sub['segment'] = data.groupby('Physician_ID').first()['Physician_Segment'].values
sub.head()

  Physician_ID  Channel  sales_rep_calls segment
0     axt00001        0               37   3-Low
1     axt00002        0               12   3-Low
2     axt00003        0               11   3-Low
3     axt00004        0               12   3-Low
4     axt00005        0               43  1-High

In [46]:
sub['segment'].value_counts()

3-Low       4438
2-Medium    3286
1-High      2276
Name: segment, dtype: int64

In [47]:
# 0 - sales rep call high 48 mid 24 low 12
# 1 - sample dropped 2500
# 2 - email

In [32]:
sub['sales_rep_calls'][0] >= 12

True

In [48]:
for i in range(len(sub)):
    if sub['Channel'][i] == 0:
        if sub['segment'][i] == '3-Low' and sub['sales_rep_calls'][i] >= 12:
            sub['Channel'][i] = 3
        elif sub['segment'][i] == '2-Medium' and sub['sales_rep_calls'][i] >= 24:
            sub['Channel'][i] = 3
        elif sub['segment'][i] == '1-High' and sub['sales_rep_calls'][i] >= 48:
            sub['Channel'][i] = 3

/tmp/ipykernel_14956/829854517.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['Channel'][i] = 3
/tmp/ipykernel_14956/829854517.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['Channel'][i] = 3
/tmp/ipykernel_14956/829854517.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['Channel'][i] = 3

In [49]:
sub['Channel'].value_counts()

0    4988
3    3481
1     781
2     750
Name: Channel, dtype: int64

In [50]:
rem = 2500 - 750

In [51]:
for i in range(len(sub)):
    if(rem <= 0):
        break
    if sub['segment'][i] == '1-High' and sub['Channel'][i] == 3:
        sub['Channel'][i] = 1
        rem -= 1

/tmp/ipykernel_14956/4109796710.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['Channel'][i] = 1

In [52]:
sub['Channel'].value_counts()

0    4988
3    3253
1    1009
2     750
Name: Channel, dtype: int64

In [53]:
rem

1522

In [54]:
for i in range(len(sub)):
    if(rem <= 0):
        break
    if sub['segment'][i] == '2-Medium' and sub['Channel'][i] == 3:
        sub['Channel'][i] = 1
        rem -= 1

/tmp/ipykernel_14956/2181296372.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['Channel'][i] = 1

In [55]:
sub['Channel'].value_counts()

0    4988
1    2207
3    2055
2     750
Name: Channel, dtype: int64

In [56]:
rem

324

In [57]:
for i in range(len(sub)):
    if(rem <= 0):
        break
    if sub['segment'][i] == '3-Low' and sub['Channel'][i] == 3:
        sub['Channel'][i] = 1
        rem -= 1

/tmp/ipykernel_14956/2139420594.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['Channel'][i] = 1

In [58]:
rem

0

In [59]:
sub['Channel'].value_counts()

0    4988
1    2531
3    1731
2     750
Name: Channel, dtype: int64

In [60]:
for i in range(len(sub)):
    if sub['Channel'][i] == 3:
        sub['Channel'][i] = 2

/tmp/ipykernel_14956/1319857009.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub['Channel'][i] = 2

In [61]:
sub

     Physician_ID  Channel  sales_rep_calls   segment
0        axt00001        1               37     3-Low
1        axt00002        1               12     3-Low
2        axt00003        0               11     3-Low
3        axt00004        1               12     3-Low
4        axt00005        0               43    1-High
...           ...      ...              ...       ...
9995     axt09996        0                9     3-Low
9996     axt09997        0                2  2-Medium
9997     axt09998        0               10     3-Low
9998     axt09999        0               31    1-High
9999     axt10000        2                0     3-Low

[10000 rows x 4 columns]

In [62]:
res = sub.drop(['sales_rep_calls', 'segment'], axis=1)

In [63]:
res.to_csv('submission3.csv', index=False)